---

---

<html lang="en">
	<head>
		<script src="/src/scripts/three.min.js"></script>
        <script src="/src/scripts/vanta.birds.min.js"></script>
		<script src="/src/scripts/vanta.jsx"></script>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<style>
		body, html {
		  height: 100%;
		  margin: 0;
		}
		
		.bgimg {
		  background-image: url('/src/images/forest-sky-hills.jpg');
		  height: 100%;
		  background-position: center;
		  background-size: cover;
		  position: relative;
		  color: white;
		  font-family: "Courier New", Courier, monospace;
		  font-size: 25px;
		}
		
		.topleft {
		  position: absolute;
		  top: 0;
		  left: 16px;
		}
		
		.bottomleft {
		  position: absolute;
		  bottom: 0;
		  left: 16px;
		}
		
		.middle {
		  position: absolute;
		  top: 50%;
		  left: 50%;
		  transform: translate(-50%, -50%);
		  text-align: center;
		}
		
		hr {
		  margin: auto;
		  width: 40%;
		}
	</style>
	<body>
		<div class="bgimg">
			<div class="topleft">
			  <p>Logo</p>
			</div>
			<div class="middle">
			  <h1>COMING SOON<span class="dot">.</span</h1>
			  <hr>
			  <p>35 days</p>
			</div>
			<div class="bottomleft">
			  <p>Some text</p>
			</div>
		  </div>
	</body>
</html>
